[Unit]
Description=gunicorn daemon for Django Football Project
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Vallyball
ExecStart=/home/ubuntu/env/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/home/ubuntu/Vootball/football.sock \
          football.wsgi:application

[Install]
WantedBy=multi-user.target
